<div ng-controller="dashboardCtrl">

    <main-nav></main-nav>

    <md-button ng-click="toggleRight()"class="md-primary">
        Manage models
    </md-button>

    <devices-list class="tte-panel"></devices-list>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <models-list class="tte-panel"></models-list>
    </md-sidenav>

</div>