<div ng-controller="dashboardCtrl">

    <main-nav></main-nav>
    

    <div class="dashboard">
        <div class="dash-content">
            <div class="dash-header">
                <h1>Dashboard   <md-button ng-click="toggleRight()"class="md-primary">
                    settings
                </md-button>
                </h1>
            </div>
            <md-card class="dash-data-widget">
                <devices-list class="tte-panel"></devices-list>
            </md-card>

            <md-card class="dash-data-widget">
                <md-tabs>
                    <md-tab label="Models">
                        <models-list class="tte-panel"></models-list>
                    </md-tab>
                </md-tabs>
            </md-card>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            </md-sidenav>
        </div>

    </div>
    

</div>