.tte-form {
    padding: 40px;
}

.tte-model-tile {
    background-color: #aaa;
    color: #fff;
    border-radius: 3px;
    .tte-model-content {
        padding: 20px;
    }
}

.tte-device-tile {
    background-color: #E17329;
    color: #fff;
    border-radius: 3px;
    .tte-device-content {
        padding: 20px;
    }
}

.tte-panel {
    padding: 20px;
}