.tte-form {
    padding: 40px;
}

.tte-model-tile {
    background-color: #aaa;
    color: #fff;
    border-radius: 3px;
    .tte-model-content {
        padding: 20px;
    }
}

.tte-device-tile {
    background-color: #aaa;
    color: #fff;
    border-radius: 3px;
    .tte-device-content {
        padding: 20px;
    }
}

.tte-panel {
    padding: 20px;
}

md-dialog {
    overflow-y: auto;
}

.models-display {
    margin: 20px;
}

.devices-display {
    margin: 20px;
}

.summary-item {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5px;
    border-radius: 3px;
    display: inline-block;
    color: #888;

}

.devices-summary {
    border: 1px solid #eee;
    margin: 20px 0;
    padding: 20px;
    border-radius: 3px;
}