<div class="devices-display">

    <h2>Devices
        <md-button ng-click="showDeviceDialog($event)" class="md-raised">
            New device
        </md-button>
    </h2>

    <md-grid-list
        class="tte-list"
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="5"
        md-row-height-gt-md="2:2" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

        <md-grid-tile class="tte-device-tile" ng-repeat="device in devices" md-rowspan="1" md-colspan="1">
            <div class="tte-device-content">
                model: <b>{{device.model.name}}</b> <br>
                built: <b>{{device.builtAt | fromNow}}</b> <br>
                expires: <b>{{device.expiresAt | fromNow}}</b> <br>
                status: {{statusOptions[device.status].name}}  <br>
                <md-button ng-click="startEditingDevice(device)">Edit</md-button>
            </div>
        </md-grid-tile>
    </md-grid-list>

</div>