<div class="tte-form">
    <md-input-container>
        <label>ID of the device</label>
        <input required type="text" required ng-model="device.identifier">
    </md-input-container>


    <md-input-container>
        <md-select placeholder="choose a model" ng-model="device.model">
            <md-option ng-repeat="model in models" ng-value="model.id">
                {{model.name}}
            </md-option>
        </md-select>
    </md-input-container>


    <md-input-container flex>
      <label>Date the device was built</label>
      <input type="date" required ng-model="device.builtDate">
    </md-input-container>


    <md-input-container flex>
      <label>Date the device expires</label>
      <input type="date" required ng-model="device.expireDate">
    </md-input-container>


    <md-input-container>

        <md-select ng-model="device.status">
            <md-option ng-repeat="(id, option) in statusOptions" ng-value="id">
                status: {{option.name}}
            </md-option>
        </md-select>

    </md-input-container>

    <md-button class="md-raised" ng-click="addDevice()">Add new device</md-button>
    <md-button type="submit" ng-click="closeModal()">Cancel</md-button>

</div>