<div class="tte-form">
    <md-input-container>
        <label>Name of the model</label>
        <input required type="text" name="name" ng-model="model.name">
    </md-input-container>
    <md-input-container>
        <label>Lifetime of the model (days)</label>
        <input required type="number" name="lifetime" ng-model="model.lifetime">
    </md-input-container>
    <md-button ng-click="addModel()" class="md-raised" type="submit">Add new model</md-button>
    <md-button ng-click="hideModal()" type="submit">Cancel</md-button>
</div>