<div class="tte-form">

    <h3>Updating Device {{ device.id }}</h3>
    <p> model: {{ device.model.name }} </p>

    <md-input-container>

        <md-select ng-model="device.status">
            <md-option ng-repeat="(id, option) in statusOptions" ng-value="id">
                status: {{ option.name }}
            </md-option>
        </md-select>

    </md-input-container>

    <md-button class="md-raised" ng-click="updateDevice()">Update device</md-button>
    <md-button type="submit" ng-click="closeModal()">Cancel</md-button>
    <md-button class="md-raised md-warn" ng-click="deleteDevice()">Delete device</md-button>

</div>